<!--高谦  右边公共内容模板-->

<div id="sidebar" th:fragment="right" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="block">
        <ul class="side_links">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Flash Animation &amp; Development</a></li>
            <li><a href="#">Identity Design</a></li>
            <li><a href="#">Search Engine Optimization</a></li>
            <li><a href="#">Web Marketing</a></li>
            <li><a href="#">Copy Writing</a></li>
        </ul>
    </div>

    <div class="block">
        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
            <p><cite><strong>John Doe</strong>, President, <a href="#">XYZ Company</a></cite></p>
        </blockquote>
    </div>

</div>