<!--高谦  右边公共内容模板-->

<div id="sidebar" th:fragment="right" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="block">
        <h3>文章专栏</h3>
        <ul class="side_links">
            <li th:each="category:${categories}">
                <a th:href="@{'/articles/list?type='+${category.id}}">[[${category.name}]]</a>
            </li>
        </ul>
    </div>

    <div class="block">
        <blockquote>
            <p>故天将降大任于是人也，必先苦其心志，劳其筋骨，饿其体肤，空乏其身，行拂乱其所为，所以动心忍性，曾益其所不能。</p>
            <p><cite><strong>勤奋自律，谦虚谨慎，乐观积极，追求卓越！</strong></cite></p>
        </blockquote>
    </div>

</div>