<!--静态文件读入 高谦-->

<head th:fragment="static" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>谦谦君的技术博客</title>
    <!--This theme was created by Joefrey Mahusay for themeforest.net -->

    <!--reset.css - reset the default value to 0 -->
    <link href="/css/reset.css" type="text/css" rel="stylesheet" />

    <!--style.css - this is the style of the over all look and feel of the template.-->
    <link href="/css/style.css" type="text/css" rel="stylesheet" />

    <!--Fixing IE6PNG -->
    <script src="/js/unitpngfix.js" type="text/javascript"></script>

    <!--jQuery library -->
    <script type="text/javascript" src="/js/jquery.js"></script>

    <!--Slider function -->
    <script type="text/javascript" src="/js/easySlider1.5.js"></script>

    <!--A custom code for the slider -->
    <script type="text/javascript" src="/js/customSlide.js"></script>

    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  -->
    <!-- Lightbox functions and methods -->
    <script src="/js/jquery.lightbox-0.5.js" type="text/javascript"></script>
    <script type="text/javascript">
        // $(function() {
        // 		$('.work_image a').lightBox();
        // });
    </script>
</head>