<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>
<body>
<!--高谦 文章展示页面-->
<script src="/js/marked.min.js"></script>
<script src="/js/backmanage/jquery.min.js"></script>
<link rel="stylesheet" href="/css/article.css">

<div id="page">
    <!--BEGIN wrap-->
    <div id="wrap">
        <!--BEGIN header-->
        <div id="header">
            <h1 id="logo"><a href="/">谦谦君的博客</a></h1>
            <div class="availability">
                <a href="https://github.com/qianqianjun" class="available">勤奋自律，谦虚谨慎，乐观积极！</a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(1)"></div>
            <div id="title_page">
                <h2>作者简介页</h2>
            </div>
        </div>
        <!--END of header-->
        <div id="main_content" style="padding-right: 0px;padding-left: 0px;">
            <div id="content" style="width: 100%;">
                <div id="content_text"></div>
            </div>
            <script type="text/javascript" th:inline="javascript">
                $('#content_text').html(marked([[${article.content}]]));
            </script>
            <div class="push"></div>
        </div>
        <!--BEGIN of footer-->
        <div id="footer" th:replace="compoment/footer::footer"></div>
        <!--END of wrap-->
    </div>
</div>
</body>
</html>
