<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>
<body>
<!--高谦 文章展示页面-->
<script src="/js/marked.min.js"></script>
<script src="/js/backmanage/jquery.min.js"></script>
<link rel="stylesheet" href="/css/article.css">

<div id="page">
    <!--BEGIN wrap-->
    <div id="wrap">
        <!--BEGIN header-->
        <div id="header">
            <h1 id="logo"><a href="/">谦谦君的博客</a></h1>
            <div class="availability">
                <a href="https://github.com/qianqianjun" class="available">勤奋自律，谦虚谨慎，乐观积极！</a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(-1)"></div>
            <div id="title_page">
                <h2>文章详情页</h2>
            </div>
        </div>
        <!--END of header-->
        <div id="main_content" style="padding-right: 0px;padding-left: 0px;">
            <div id="content" style="width: 100%;">
                <h2 style="font-size: 32px;padding-bottom: 30px;">[[${article.title}]]</h2>
                <h4>发布日期： [[${article.publishDate}]] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    总浏览量：[[${article.visitorNum}]]</h4>
                <div id="content_text"></div>
            </div>
            <script type="text/javascript" th:inline="javascript">
                $('#content_text').html(marked([[${article.content}]]));
            </script>

            <!--添加评论的内容-->
            <div style="clear: both;"></div>
            <form id="comment-form">
                <h2 style="font-size: 32px;padding-bottom: 30px;margin-top: 50px">添加评论</h2>
                <div class="form-group">
                    <h3>您的邮箱:</h3>
                    <input type="text"
                           required="required"
                           class="form-control"
                           placeholder="留下您的邮箱方便联系！"
                           id="usermail"
                           style="width: 700px;font-size: 20px;">
                </div>
                <div class="form-group">
                    <h3>发表见解：</h3>
                    <textarea type="text"
                              required="required"
                              id="mess"
                              placeholder="留下您的见解"></textarea>
                </div>
                <input type="submit" class="btn btn-info" style="float: none;">
            </form>
            <script type="text/javascript" th:inline="javascript">
                var comment_form=document.querySelector("#comment-form");
                comment_form.addEventListener("submit",function (evt) {
                    var usermail=document.querySelector("#usermail").value;
                    var comment=document.querySelector("#mess").value;

                    var formData=new FormData();
                    formData.append("aid",[[${article.id}]]);
                    formData.append("content",comment);
                    formData.append("email",usermail);
                    var xhr=new XMLHttpRequest();
                    xhr.open("POST","/addComment");
                    xhr.onload=function (ev) {
                        if(xhr.status===200){
                            alert("留言添加成功！");
                        }else {
                            alert("留言添加失败，请查看服务器日志输出！");
                        }
                    };
                    xhr.send(formData);
                    evt.preventDefault();
                },true);
            </script>
            <!--下面是评论列表-->
            <div class="comment-box" id="comment-box">
                <h2 style="font-size: 32px;padding-bottom: 30px;margin-top: 50px">评论列表</h2>
                <ul>
                    <li th:each="comment:${comments}" class="comment-li">
                        <p>用户：[[${comment.email}]]<span class="date-span">[[${comment.publishDate}]]</span></p>
                        <p class="message-p">[[${comment.content}]]</p>
                        <p class="reply-p"><span>回复：</span> [[${comment.reply}]]</p>
                    </li>
                </ul>
            </div>
            <!--清除浮动属性-->
            <div class="push"></div>
        </div>

        <!--BEGIN of footer-->
        <div id="footer" th:replace="compoment/footer::footer"></div>
        <!--END of wrap-->
    </div>
</div>
</body>
</html>
