<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
	<!--BEGIN page-->
	<div id="page">
    	<!--BEGIN wrap-->
    	<div id="wrap">
        	<!--BEGIN header-->
	    	<div id="header">
                <!--BEGIN logo-->
                <h1 id="logo"><a href="/">谦谦君的博客</a></h1>
                <!--END of logo-->

                <!--BEGIN availabilty-->
                <div class="availability">
                    <a href="https://github.com/qianqianjun" class="available">勤奋自律，谦虚谨慎，乐观积极！</a>
                </div>
                <!--END of availability-->
                
                 <!--BEGIN menu_wrap-->
                <div th:replace="compoment/navigatior::commonMenu(3)"></div>
                <!--END of menu_wrap-->
                
             	<!--BEGIN feature_project-->
                <div id="title_page">
                	<h2>A showcase of recent projects</h2>
	            </div>   
                <!--END of feature_project-->
                
            </div>
           	<!--END of header-->
            
            <!--BEGIN main_conten-->
            <div id="main_content">
            	
                <!--BEGIN work-->
            	<div id="work">	
                	
                    
                    <div class="work_categ_wrap last">
                    <h2>Web Design</h2>
                    <ul th:each="item:${categories}">
                	<!--BEGIN row-->
                	<div class="row">
                      <div class="work_image">
                    	<a href="#"><img th:src="${item.imgurl}" alt="Sample Image"/></a>                   	 </div>
                   	  <div class="work_desc">
                    	<h3>[[${item.name}]]</h3>
                        <p>[[${item.description}]]</p>
                        <p class="role"><span>Date: </span>[[${item.publishdate}]]</p>
                        <div class="view_livesite"><a href="#" title="View Livesite">View Livesite</a></div>
                    	</div>
                 	</div>
                    <!--END of row-->
                    </ul>

                    </div>
                    <!--END of work_categ_wrap -->
                    
                    
                    
                    
                </div>
                 <!--END of work-->
                
                 <!--BEGIN sidebar-->	
                <div id="sidebar">
                	
                </div>
                 <!--END of sidebar-->
            
            <!--BEGIN push - makes our footer stick at the bottom of the page. -->
            <div class="push"></div>    
            <!--END of push -->
            
            </div>
            <!--END of main_conten-->
            
            
            <!--BEGIN of footer-->
            <div id="footer" th:replace="compoment/footer::footer"></div>
        	<!--END of wrap-->    
            
        </div>
        <!--END of wrap-->
    </div>
    <!--END of page-->
    
</body>
</html>
