<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
	<!--BEGIN page-->
	<div id="page">
    	<!--BEGIN wrap-->
    	<div id="wrap">
        	<!--BEGIN header-->
	    	<div id="header">
            	
            	<!--BEGIN logo-->
            	<h1 id="logo"><a href="index.html">谦谦君的博客</a></h1>
                <!--END of logo-->
                
                <!--BEGIN availabilty--> 
                <div class="availability">
                   	<a href="#" class="available">勤奋自律，谦虚谨慎，乐观积极！</a>
                </div>
                <!--END of availability-->
                
                 <!--BEGIN menu_wrap-->
                <div th:replace="compoment/navigatior::commonMenu(0)"></div>
             	<!--BEGIN feature_project-->

                <div id="feature_project">
                    <div id="slider">
                        <ul th:each="item:${carouses}">
                            <-- 读取图片轮播。 -->
                            <li>
                                <div class="featured_image">
                                    <a href="#"><img th:src="item.imgurl" alt="Sample Image"/></a>
                                </div>
                                <div class="featured_desc">
                                    <h2>[[${item.title}]]</h2>
                                    <p>[[${item.abstruct}]]</p>
                                    <div class="view_project"><a th:href="@{/articles/detail?aid=${item.id}}">查看详情</a></div>
                                </div>
                            </li>

                        </ul>
                    </div>                    
	            </div>   
                <!--END of feature_project-->
                
                
            </div>
           	<!--END of header-->
            
            <!--BEGIN main_conten-->
            <div id="main_content" class="iefix">
            
            	<!--BEGIN column_3-->
                <div class="column_3">
                	
                    <!--BEGIN 1st column-->
                	<div class="first services">
                    	<h2>最新文章</h2>
                        <span class="intro_text">博主最新发布的文章</span>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Flash Animation &amp; Development</a></li>
                            <li><a href="#">Identity Design</a></li>
                            <li><a href="#">Search Engine Optimization</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Copy Writing</a></li>
                        </ul>
                        <div class="readmore" style="text-indent: 0"><a href="#" title="Read More">更多最新文章</a></div>
                    </div>
                    <!--END of 1st column-->
                    <!--BEGIN 2nd column-->
                    <div class="services">
                    	<h2>分类专栏</h2>
                        <span class="intro_text">博客分类专栏，方便浏览</span>
                        <ul>
                        	<li><a href="#">Web Design</a></li>
                            <li><a href="#">Flash Animation &amp; Development</a></li>
                            <li><a href="#">Identity Design</a></li>
                            <li><a href="#">Search Engine Optimization</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Copy Writing</a></li>
                        </ul>
                        <div class="readmore" style="text-indent: 0"><a href="#" title="Read More">更多专栏</a></div>
                    </div>
                    <!--END of 2nd column-->
                    <!--BEGIN 3rd column-->
                    <div class="services">
                    	<h2>推荐文章</h2>
                        <span class="intro_text">访问次数最多的文章</span>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Flash Animation &amp; Development</a></li>
                            <li><a href="#">Identity Design</a></li>
                            <li><a href="#">Search Engine Optimization</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Copy Writing</a></li>
                        </ul>
                        <div class="readmore" style="text-indent: 0"><a href="#" title="Read More">更多推荐文章</a></div>
                    </div>
                    <!--END of 3rd column-->

                </div>	
                <!--END of column_3-->
            
            <!--BEGIN push - makes our footer stick at the bottom of the page. -->
            <div class="push"></div>    
            <!--END of push -->
            
            </div>
            <!--END of main_conten-->
            
            
            <!--BEGIN of footer-->
            <div id="footer">
            	<div class="copyright">
	            	<small>&copy; 2009 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>. All rights reserved</small>
                </div>
            </div>
        	<!--END of wrap-->    
            
        </div>
        <!--END of wrap-->
    </div>
    <!--END of page-->
    
</body>
</html>
