<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Freelancer - A premium grunge portfolio template for freelancers out there</title>
<!--This theme was created by Joefrey Mahusay for themeforest.net -->

<!--reset.css - reset the default value to 0 -->
<link href="css/reset.css" type="text/css" rel="stylesheet" />

<!--style.css - this is the style of the over all look and feel of the template.-->
<link href="css/style.css" type="text/css" rel="stylesheet" />

<!--Fixing IE6PNG -->
<script src="js/unitpngfix.js" type="text/javascript"></script>

<!--jQuery library -->
<script type="text/javascript" src="js/jquery.js"></script>

<!--Slider function -->
<script type="text/javascript" src="js/easySlider1.5.js"></script>

<!--A custom code for the slider -->
<script type="text/javascript" src="js/customSlide.js"></script>

<!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>

<body>
	<!--BEGIN page-->
	<div id="page">
    	<!--BEGIN wrap-->
    	<div id="wrap">
        	<!--BEGIN header-->
	    	<div id="header">
            	
            	<!--BEGIN logo-->
            	<h1 id="logo"><a href="index.html">谦谦君的博客</a></h1>
                <!--END of logo-->
                
                <!--BEGIN availabilty--> 
                <div class="availability">
                   	<a href="#" class="available">勤奋自律，谦虚谨慎，乐观积极！</a>
                </div>
                <!--END of availability-->
                
                 <!--BEGIN menu_wrap-->
                <div id="menu_wrap">

					<!--BEGIN menu-->
                    <ul id="menu">
                        <li><a href="index" title="Homepage" class="current">主页</a></li>
                        <li><a href="about" title="About Me">关于作者</a></li>
                        <li><a href="work" title="My Work">推荐文章</a></li>
                        <li><a href="services" title="My Services">文章专栏</a></li>
                        <li><a href="contact" title="Get in Touch">联系作者</a></li>
                    </ul>
                    <!--END of menu-->
                    
                </div>
                <!--END of menu_wrap-->
                
             	<!--BEGIN feature_project-->
                <div id="feature_project">
                    <div id="slider">
                        <ul>
                            <li>
                	<div class="featured_image">
                    	<a href="#/?ref=joefrey"><img src="images/featured_1.jpg" alt="Sample Image"/></a>
                    </div>
                   	<div class="featured_desc">
                    	<span class="section_title">Featured Project 01</span>
                    	<h2>Simplicity</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aeneaan ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                        <div class="view_project"><a href="#" title="View Project">View Project</a></div>
                    </div>
                    	
                    </li>
                    <li>    
                        
                	<div class="featured_image">
                    	<a href="#/?ref=joefrey"><img src="images/featured_2.jpg" alt="Sample Image"/></a>
                    </div>
                   	<div class="featured_desc">
                    <span class="section_title">Featured Project 02</span>
                    	<h2>Clean Corporate</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aeneaan ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                        <div class="view_project"><a href="#" title="View Project">View Project</a></div>
                    </div>
                    	
                    </li>
                    <li>    
                        
                	<div class="featured_image">
                    	<a href="#/?ref=joefrey"><img src="images/featured_3.jpg" alt="Sample Image"/></a>
                    </div>
                   	<div class="featured_desc">
                    <span class="section_title">Featured Project 03</span>
                    	<h2>Impressive</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aeneaan ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
                        <div class="view_project"><a href="#" title="View Project">View Project</a></div>
                    </div>
                    	
                    </li>
                        </ul>
                    </div>                    
	            </div>   
                <!--END of feature_project-->
                
                
            </div>
           	<!--END of header-->
            
            <!--BEGIN main_conten-->
            <div id="main_content" class="iefix">
            
            	<!--BEGIN column_3-->
                <div class="column_3">
                	
                    <!--BEGIN 1st column-->
                	<div class="first services">
                    	<h2>最新文章</h2>
                        <span class="intro_text">博主最新发布的文章</span>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Flash Animation &amp; Development</a></li>
                            <li><a href="#">Identity Design</a></li>
                            <li><a href="#">Search Engine Optimization</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Copy Writing</a></li>
                        </ul>
                        <div class="readmore" style="text-indent: 0"><a href="#" title="Read More">更多最新文章</a></div>
                    </div>
                    <!--END of 1st column-->
                    <!--BEGIN 2nd column-->
                    <div class="services">
                    	<h2>分类专栏</h2>
                        <span class="intro_text">博客分类专栏，方便浏览</span>
                        <ul>
                        	<li><a href="#">Web Design</a></li>
                            <li><a href="#">Flash Animation &amp; Development</a></li>
                            <li><a href="#">Identity Design</a></li>
                            <li><a href="#">Search Engine Optimization</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Copy Writing</a></li>
                        </ul>
                        <div class="readmore" style="text-indent: 0"><a href="#" title="Read More">更多专栏</a></div>
                    </div>
                    <!--END of 2nd column-->
                    <!--BEGIN 3rd column-->
                    <div class="services">
                    	<h2>推荐文章</h2>
                        <span class="intro_text">访问次数最多的文章</span>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Flash Animation &amp; Development</a></li>
                            <li><a href="#">Identity Design</a></li>
                            <li><a href="#">Search Engine Optimization</a></li>
                            <li><a href="#">Web Marketing</a></li>
                            <li><a href="#">Copy Writing</a></li>
                        </ul>
                        <div class="readmore" style="text-indent: 0"><a href="#" title="Read More">更多推荐文章</a></div>
                    </div>
                    <!--END of 3rd column-->

                </div>	
                <!--END of column_3-->
            
            <!--BEGIN push - makes our footer stick at the bottom of the page. -->
            <div class="push"></div>    
            <!--END of push -->
            
            </div>
            <!--END of main_conten-->
            
            
            <!--BEGIN of footer-->
            <div id="footer">
            	<div class="copyright">
	            	<small>&copy; 2009 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>. All rights reserved</small>
                </div>
            </div>
        	<!--END of wrap-->    
            
        </div>
        <!--END of wrap-->
    </div>
    <!--END of page-->
    
</body>
</html>
