<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>
<!--高谦 最新文章页面-->
<body>
	<!--BEGIN page-->
	<div id="page">
    	<!--BEGIN wrap-->
    	<div id="wrap">
        	<!--BEGIN header-->
	    	<div id="header">
            	<!--BEGIN logo-->
            	<h1 id="logo"><a href="index.html">The Freelancer</a></h1>
                <!--END of logo-->
                <!--BEGIN availabilty--> 
                <div class="availability">
                   	<a href="#" class="available">I'm available for freelance work</a>
                </div>
                <!--END of availability-->
                 <!--BEGIN menu_wrap-->
                <div th:replace="compoment/navigatior::commonMenu(4)"></div>
                <!--END of menu_wrap-->
             	<!--BEGIN feature_project-->
                <div id="title_page">
                	<h2>What I can do for you</h2>
	            </div>   
                <!--END of feature_project-->
            </div>
           	<!--END of header-->
            <!--BEGIN main_conten-->
            <div id="main_content">
                <!--BEGIN content-->
            	<div id="content">
                    <a th:href="@{'/articles/detail?aid='+${article.id}}" th:each="article:${newestArticles}">
                        <h2>[[${article.title}]]</h2>
                        <p><strong>[[${article.abstruct}]]</strong></p>
                        <div class="clear">&nbsp;</div>
                    </a>
                </div>
                 <!--END of content-->
                 <!--BEGIN sidebar-->	
                <div id="sidebar" th:replace="compoment/right::right"></div>
                 <!--END of sidebar-->
            <!--BEGIN push - makes our footer stick at the bottom of the page. -->
            <div class="push"></div>    
            <!--END of push -->
            </div>
            <!--END of main_conten-->
            <!--BEGIN of footer-->
            <div id="footer">
            	<div class="copyright">
	            	<small>&copy; 2009 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>. All rights reserved</small>
                </div>
            </div>
        	<!--END of wrap-->
        </div>
        <!--END of wrap-->
    </div>
    <!--END of page-->
</body>
</html>
