<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>
<!--高谦 推荐文章页面-->
<body>

	<!--BEGIN page-->
	<div id="page">
    	<!--BEGIN wrap-->
    	<div id="wrap">
        	<!--BEGIN header-->
	    	<div id="header">
                <!--BEGIN logo-->
                <h1 id="logo"><a href="/">谦谦君的博客</a></h1>
                <!--END of logo-->

                <!--BEGIN availabilty-->
                <div class="availability">
                    <a href="https://github.com/qianqianjun" class="available">勤奋自律，谦虚谨慎，乐观积极！</a>
                </div>
                <!--END of availability-->
                
                 <!--BEGIN menu_wrap-->
                <div th:replace="compoment/navigatior::commonMenu(2)"></div>
                <!--END of menu_wrap-->
                
             	<!--BEGIN feature_project-->
                <div id="title_page">
                	<h2>推荐文章页</h2>
	            </div>   
                <!--END of feature_project-->
            </div>
           	<!--END of header-->
            
            <!--BEGIN main_conten-->
            <div id="main_content">
            	
                <!--BEGIN content-->
            	<div id="content" >
                    <a th:each="article:${recommandArticleas}">
                        <h2>[[${article.title}]] <span class="publish-date">[[${article.publishDate}]] 发布</span></h2>

                        <p><strong>[[${article.abstruct}]]</strong></p>
                        <span class="visitor-num">[[${article.visitorNum}]]&nbsp;&nbsp; 次浏览</span>
                        <a th:href="@{'/articles/detail?aid='+${article.id}}">
                            <input type="button" class="btn btn-info" value="查看详情"/>
                        </a>
                        <div class="clear">&nbsp;</div>
                    </a>
                </div>
                 <!--END of content-->
                
                 <!--BEGIN sidebar-->	
                <div id="sidebar" th:replace="compoment/right::right"></div>
                 <!--END of sidebar-->
            
            <!--BEGIN push - makes our footer stick at the bottom of the page. -->
            <div class="push"></div>    
            <!--END of push -->
            </div>
            <!--END of main_conten-->
            <!--BEGIN of footer-->
            <div id="footer" th:replace="compoment/footer::footer"></div>
        	<!--END of wrap-->    
            
        </div>
        <!--END of wrap-->
    </div>
    <!--END of page-->
    
</body>
</html>
