<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/compoment/common::backstatic"></head>
<body>
<!-- HTML start-->
<!--side start-->
<div class="side" th:replace="/compoment/common::left"></div>
<!--side end -->
<!--header start-->
<div class="header clear" th:replace="/compoment/common::top"></div>
<!--header end -->

<!--main start-->
<div class="main">
	<div class="pad20">
		<!--title start-->
		<div class="postion ">
			<div class="pos-txt"><span class="fz24 padr5">文章管理</span></div>
		</div>
		<!--title end-->
		<!--文章管理 start-->
		<div class="sales-list row mart20">
			<div class="col-sm-9">
				<div class="pad20 bgf">
					<div class="tit1 clear">
						<span class="left txt-left txt-blue"><i class="ico i-rank"></i>文章列表</span>
					</div>
					<div class="tab">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs sale-tabs" role="tablist">
							<li class="active"><a href="#tab1"  role="tab" data-toggle="tab">已发布文章</a></li>
							<li><a href="#tab2"  role="tab" data-toggle="tab">草稿文章</a></li>
							<li><a href="#tab3"  role="tab" data-toggle="tab">已删除文章</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab1">
								<div class="table-responsive mart20 sale-table">
									<table class="table table-bordered table-striped">
										<tr>
											<td width="10%">排名</td>
											<td width="30%">商品名称</td>
											<td width="15%">单价</td>
											<td width="15%">数量</td>
											<td width="20%">销售额</td>
											<td>操作</td>
										</tr>
										<tr>
											<td><span class="txt-red">Top1</span></td>
											<td><a href="#">2015新款男装</a></td>
											<td>150.00</td>
											<td>3000</td>
											<td>45000，000</td>
											<td><a href="#">查看详情</a></td>
										</tr>
										<tr>
											<td><span class="txt-red">Top2</span></td>
											<td><a href="#">2015新款男装</a></td>
											<td>150.00</td>
											<td>3000</td>
											<td>45000，000</td>
											<td><a href="#">查看详情</a></td>
										</tr>
									</table>
								</div>
							</div>
							<!--tab2-->
							<div role="tabpanel" class="tab-pane" id="tab2">
								<div class="table-responsive mart20 sale-table">
									<table class="table table-bordered table-striped">
										<tr>
											<td width="10%">排名</td>
											<td width="30%">客户名称</td>
											<td width="25%">订单数量</td>
											<td width="25%">销售额</td>
											<td>操作</td>
										</tr>
										<tr>
											<td><span class="txt-red">Top1</span></td>
											<td><a href="#">2015新款男装</a></td>
											<td>150.00</td>
											<td>3000</td>
											<td><a href="#">查看详情</a></td>
										</tr>
										<tr>
											<td><span class="txt-red">Top2</span></td>
											<td><a href="#">2015新款男装</a></td>
											<td>150.00</td>
											<td>3000</td>
											<td><a href="#">查看详情</a></td>
										</tr>
									</table>
								</div>
							</div>
							<!--tab3-->
							<div role="tabpanel" class="tab-pane" id="tab3">
								<div class="table-responsive mart20 sale-table">
									<table class="table table-bordered table-striped">
										<tr>
											<td width="10%">排名</td>
											<td width="30%">地区名称</td>
											<td width="25%">订单数量</td>
											<td width="25%">销售额</td>
											<td>操作</td>
										</tr>
										<tr>
											<td><span class="txt-red">Top1</span></td>
											<td><a href="#">2015新款男装</a></td>
											<td>3000</td>
											<td>45000，000</td>
											<td><a href="#">查看详情</a></td>
										</tr>
										<tr>
											<td><span class="txt-red">Top2</span></td>
											<td><a href="#">2015新款男装</a></td>
											<td>3000</td>
											<td>45000，000</td>
											<td><a href="#">查看详情</a></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="pad20 bgf">
					<div class="tit1 clear">
						<span class="left txt-left txt-blue"><i class="ico i-rank"></i>今日简报</span>
					</div>
					<div class="report-list ">
						<ul>
							<li class="bg-green">
								<a href="#">
									<p class="report-txt1">今日</p>
									<p class="report-txt2"><span class="fz22">￥18770.00</span> <br>20笔</p>
									<p class="report-txt3">2015-9-02</p>
								</a>
							</li>
							<li class="bg-red">
								<a href="#">
									<p class="report-txt1">本月</p>
									<p class="report-txt2"><span class="fz22">￥18770.00</span> <br>20笔</p>
									<p class="report-txt3">2015-9-02</p>
								</a>
							</li>
							<li class="bg-blue">
								<a href="#">
									<p class="report-txt1">今年</p>
									<p class="report-txt2"><span class="fz22">￥18770.00</span> <br>20笔</p>
									<p class="report-txt3">2015-9-02</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--文章管理 end-->
	</div>
	<div class="copy">2016-2020 © qianqianjun 版权所有 .</div>
</div>
<!--main end-->
<script src="/js/backmanage/jquery-1.9.1.min.js"></script>
<script src="/js/backmanage/bootstrap.min.js"></script>
</body>
</html>