<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/compoment/common::backstatic"></head>
<body>
<!-- HTML start-->
<!--side start-->
<div class="side" th:replace="/compoment/common::left"></div>
<!--side end -->
<!--header start-->
<div class="header clear" th:replace="/compoment/common::top"></div>
<!--header end -->

<!--main start-->
<div class="main">
	<div class="pad20">
		<!--title start-->
		<div class="postion ">
			<div class="pos-txt"><span class="fz24 padr5">文章管理</span></div>
		</div>
		<!--title end-->
		<!--文章管理 start-->
		<div class="sales-list row mart20">
			<div class="col-sm-9">
				<div class="pad20 bgf">
					<div class="tit1 clear">
						<span class="left txt-left txt-blue"><i class="ico i-rank"></i>文章列表</span>
					</div>
					<div class="tab">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs sale-tabs" role="tablist">
							<li class="active"><a href="#tab1"  role="tab" data-toggle="tab">已发布文章</a></li>
							<li><a href="#tab2"  role="tab" data-toggle="tab">未发布文章</a></li>
							<li><a href="#tab3"  role="tab" data-toggle="tab">已删除文章</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab1">
								<div class="table-responsive mart20 sale-table">
									<table class="table table-bordered table-striped">
										<tr>
											<td width="20%">标题</td>
											<td width="20%">专栏</td>
											<td width="15%">发布日期</td>
											<td width="15%">访问量</td>
											<td width="20%">轮播</td>
											<td>操作1</td>
											<td>操作2</td>
										</tr>
										<tr class="side_links" th:each="article:${publishArticles}">
											<td><a><span class="txt-red" href="#">[[${article.title}]]</span></a></td>
											<td>[[${article.name}]]</td>
											<td>[[${article.articlePublishDate}]]</td>
											<td>[[${article.visitorNum}]]</td>
											<td>[[${article.outstanding}]]</td>
											<td><a th:href="@{'/cancelArticle?id='+${article.articleId}}">撤销</a></td>
											<td><a th:href="@{'/manage/changeArticle?id='+${article.articleId}}" target="_blank">修改</a></td>
										</tr>
									</table>
								</div>
							</div>
							<!--tab2-->
							<div role="tabpanel" class="tab-pane" id="tab2">
								<div class="table-responsive mart20 sale-table">
									<table class="table table-bordered table-striped">
                                        <tr>
                                            <td width="20%">标题</td>
                                            <td width="20%">专栏</td>
                                            <td width="15%">发布日期</td>
                                            <td width="15%">访问量</td>
                                            <td width="20%">轮播</td>
                                            <td>操作1</td>
											<td>操作2</td>
											<td>操作3</td>
                                        </tr>
                                        <tr class="side_links" th:each="article:${unpublishArticles}">
                                            <td><a><span class="txt-red" href="#">[[${article.title}]]</span></a></td>
                                            <td>[[${article.name}]]</td>
                                            <td>[[${article.articlePublishDate}]]</td>
                                            <td>[[${article.visitorNum}]]</td>
                                            <td>[[${article.outstanding}]]</td>
											<td><a th:href="@{'/publishArticle?id='+${article.articleId}}">发布</a></td>
											<td><a th:href="@{'/deleteArticle?id='+${article.articleId}}">删除</a></td>
											<td><a th:href="@{'/manage/changeArticle?id='+${article.articleId}}" target="_blank">修改</a></td>
                                        </tr>
									</table>
								</div>
							</div>
							<!--tab3-->
							<div role="tabpanel" class="tab-pane" id="tab3">
								<div class="table-responsive mart20 sale-table">
									<table class="table table-bordered table-striped">
                                        <tr>
                                            <td width="20%">标题</td>
                                            <td width="20%">专栏</td>
                                            <td width="15%">发布日期</td>
                                            <td width="15%">访问量</td>
                                            <td width="20%">轮播</td>
                                            <td>操作1</td>
											<td>操作2</td>
                                        </tr>
                                        <tr class="side_links" th:each="article:${deleteArticles}">
                                            <td><a><span class="txt-red" href="#">[[${article.title}]]</span></a></td>
                                            <td>[[${article.name}]]</td>
                                            <td>[[${article.articlePublishDate}]]</td>
                                            <td>[[${article.visitorNum}]]</td>
                                            <td>[[${article.outstanding}]]</td>
											<td><a th:href="@{'/cancelArticle?id='+${article.articleId}}">撤销</a></td>
											<td><a th:href="@{'/manage/changeArticle?id='+${article.articleId}}" target="_blank">修改</a></td>
                                        </tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="pad20 bgf">
					<div class="tit1 clear">
						<span class="left txt-left txt-blue"><i class="ico i-rank"></i>今日简报</span>
					</div>
					<div class="report-list ">
						<ul>
							<li class="bg-green">
								<a href="/manage/banner">
									<p class="report-txt1">轮播管理</p>
									<p class="report-txt2"><span class="fz22fix">设置和取消文章的首页轮播</span>共2项</p>
								</a>
							</li>
							<li class="bg-red">
								<a href="/manage/comment">
									<p class="report-txt1">留言管理</p>
									<p class="report-txt2"><span class="fz22fix">查看，回复，删除留言评论</span>共3项</p>
								</a>
							</li>
							<li class="bg-blue">
								<a onclick="alert('功能开发中，敬请期待！')">
									<p class="report-txt1">访客统计</p>
									<p class="report-txt2"><span class="fz22fix">文章访问量统计</span>开发中……</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--文章管理 end-->
	</div>
	<div th:replace="compoment/copy::copy"></div>
</div>
<!--main end-->
<script src="/js/backmanage/jquery-1.9.1.min.js"></script>
<script src="/js/backmanage/bootstrap.min.js"></script>
</body>
</html>