<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head th:replace="/compoment/common::backstatic"></head>

<body>
<!--评论管理界面 高谦-->
<!-- HTML start-->
<!--side start-->
<div class="side" th:replace="/compoment/common::left"></div>
<!--side end -->
<!--header start-->
<div class="header clear" th:replace="/compoment/common::top"></div>
<!--header end -->
<!--main start-->
<div class="main">
	<div class="pad20">
		<!--title start-->
		<div class="postion ">
			<div class="pos-txt"><span class="fz24 padr5">留言管理</span></div>
		</div>
		<!--title end-->
		<!--文章管理 start-->
		<div class="sales-list row mart20">
			<div class="col-sm-9">
				<div class="pad20 bgf" id="comment_list_container">
					<div class="tit1 clear">
						<span class="left txt-left txt-blue">
							<i class="ico i-rank"></i>留言列表
						</span>
					</div>
					<div class="tab">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs sale-tabs" role="tablist">
							<li class="active"><a href="#tab1"  role="tab" data-toggle="tab">全部留言</a></li>
							<li><a href="#tab2"  role="tab" data-toggle="tab">未回复留言</a></li>
							<li><a href="#tab3"  role="tab" data-toggle="tab">已回复留言</a></li>
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab1">
								<div class="panel-group">

									<div th:each="comment:${all}">
										<div class="panel panel-info">
											<div class="panel-heading panel-head">
												<span class="panel-item-span">[[${comment.publishDate}]]</span>
												<span class="panel-item-span">[[${comment.email}]]</span>

												<a class="panel-title collapsed btn btn-info"
												   data-toggle="collapse"
												   style="float: right;"
												   th:href="@{'#all-'+${comment.id}}">查看详情</a>
												<a class="panel-title collapsed btn btn-info panel-head-op"
												   th:href="@{'/manage/delComment?id='+${comment.id}}">删除留言</a>

											</div>
											<div th:id="@{'all-'+${comment.id}}" class="panel-collapse collapse">
												<div class="panel-body">
												<p class="comment-content"> [[${comment.content}]]</p>
													<form method="post" action="/manage/fixComment">
														<textarea class="form-control reply-textarea" rows="4"
																  required="required" name="reply">[[${comment.reply}]]</textarea>
														<input type="hidden" th:value="${comment.id}" name="id">
														<input class="btn btn-info" value="修改" type="submit">
													</form>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<!--tab2-->
							<div role="tabpanel" class="tab-pane" id="tab2">
								<div class="panel-group">

									<div th:each="comment:${unfinish}">
										<div class="panel panel-info">
											<div class="panel-heading panel-head" >
												<span class="panel-item-span">[[${comment.publishDate}]]</span>
												<span class="panel-item-span">[[${comment.email}]]</span>

												<a class="panel-title collapsed btn btn-info"
												   data-toggle="collapse"
												   style="float: right;"
												   th:href="@{'#unfinish-'+${comment.id}}">查看详情</a>
												<a class="panel-title collapsed btn btn-info panel-head-op"
												   th:href="@{'/manage/delComment?id='+${comment.id}}">删除留言</a>

											</div>
											<div th:id="@{'unfinish-'+${comment.id}}" class="panel-collapse collapse">
												<div class="panel-body">
													<p class="comment-content"> [[${comment.content}]]</p>
													<form method="post" action="/manage/fixComment">
														<textarea class="form-control reply-textarea" rows="4"
																  required="required" name="reply">[[${comment.reply}]]</textarea>
														<input type="hidden" th:value="${comment.id}" name="id">
														<input class="btn btn-info" value="修改" type="submit">
													</form>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<!--tab3-->
							<div role="tabpanel" class="tab-pane" id="tab3">
								<div class="panel-group">

									<div th:each="comment:${finish}">
										<div class="panel panel-info">
											<div class="panel-heading panel-head" >
												<span class="panel-item-span">[[${comment.publishDate}]]</span>
												<span class="panel-item-span">[[${comment.email}]]</span>

												<a class="panel-title collapsed btn btn-info"
												   data-toggle="collapse"
												   style="float: right;"
												   th:href="@{'#finish-'+${comment.id}}">查看详情</a>
												<a class="panel-title collapsed btn btn-info panel-head-op"
												   th:href="@{'/manage/delComment?id='+${comment.id}}">删除留言</a>

											</div>
											<div th:id="@{'finish-'+${comment.id}}" class="panel-collapse collapse">
												<div class="panel-body">
													<p class="comment-content"> [[${comment.content}]]</p>
													<form method="post" action="/manage/fixComment">
														<textarea class="form-control reply-textarea" rows="4"
																  required="required" name="reply">[[${comment.reply}]]</textarea>
														<input type="hidden" th:value="${comment.id}" name="id">
														<input class="btn btn-info" value="修改" type="submit">
													</form>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--右侧导航栏目-->
			<div class="col-sm-3">
				<div class="pad20 bgf">
					<div class="tit1 clear">
						<span class="left txt-left txt-blue">
							<i class="ico i-rank"></i>功能导航
						</span>
					</div>
					<div class="report-list ">
						<ul>
							<li class="bg-green">
								<a href="/manage/banner">
									<p class="report-txt1">轮播管理</p>
									<p class="report-txt2"><span class="fz22fix">设置和取消文章的首页轮播</span>共2项</p>
								</a>
							</li>
							<li class="bg-red">
								<a href="/manage/article">
									<p class="report-txt1">文章草稿箱</p>
									<p class="report-txt2"><span class="fz22fix">查看草稿箱中的文章，进行修改等操作</span>共3项</p>
								</a>
							</li>
							<li class="bg-blue">
								<a onclick="alert('功能开发中，敬请期待！')">
									<p class="report-txt1">访客统计</p>
									<p class="report-txt2"><span class="fz22fix">文章访问量统计</span>开发中……</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--文章管理 end-->
	</div>
	<div th:replace="compoment/copy::copy"></div>
</div>
<!--main end-->
<script src="/js/backmanage/jquery-1.9.1.min.js"></script>
<script src="/js/backmanage/bootstrap.min.js"></script>
</body>
</html>