
<!--高谦 登录界面展示-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/backlogin/style.css" rel='stylesheet' type='text/css' />
    <link href="/css/backmanage/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>谦谦君的技术博客</h1>
<div class="login-form">
    <div class="close"> </div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"> </div>
    <div class="avtar">
        <img th:src="${user.img}" width="72" height="72" class="img-circle"/>
    </div>
    <form action="/manage/verification" method="post">
        <input type="text" class="text" name="account" required="required">
        <div class="key">
            <input type="password" name="password" required="required" >
        </div>
        <p class="error_msg" th:if="${error} != null">[[ ${error} ]]</p>
        <div class="signin">
            <input type="submit" value="登&nbsp&nbsp录" >
        </div>
    </form>
</div>

</body>
</html>