<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 刘权达 文章相关数据库操作-->
<mapper namespace="com.buct.blog.dao.ArticleDao">
    <resultMap id="ArticlesInOrderMapper" type="com.buct.blog.domain.Article">
        <id column="id" javaType="Integer" jdbcType="INTEGER" property="id"></id>
        <result column="title" javaType="String" jdbcType="VARCHAR" property="title"></result>
        <result column="blob" javaType="Object" jdbcType="BLOB" property="blob"></result>
        <result column="type" javaType="Integer" jdbcType="INTEGER" property="type"></result>
        <result column="publishdate" javaType="String" jdbcType="VARCHAR" property="publishDate"></result>
        <result column="visitornum" javaType="Integer" jdbcType="INTEGER" property="visitorNum"></result>
        <result column="outstanding" javaType="Integer" jdbcType="INTEGER" property="outstanding"></result>
        <result column="imgurl" javaType="String" jdbcType="VARCHAR" property="imgurl"></result>
        <result column="status" javaType="Integer" jdbcType="INTEGER" property="status"></result>
    </resultMap>
    <select id="getArticlesByDate" resultMap="ArticlesInOrderMapper">
        select * from article where status = 1 order by publishDate desc limit #{k};
    </select>
    <select id="getArticlesByVisitor" resultMap="ArticlesInOrderMapper">
        select * from article where status = 1 order by visitornum desc limit #{k};
    </select>

    <select id="getArticleById" resultType="com.buct.blog.domain.Article">
        select * from article where id=#{aid}
    </select>

    <!--高谦修改，使用 blob 属性代替 content ，数据库乱码-->
    <insert id="addArticle">
        insert into article
        values (null,#{title},#{blob},#{type},now(),0,0,#{status},'',#{abstruct})
    </insert>

    <delete id="deleteArticle">
        delete from article where id=#{id}
    </delete>
    <select id="getArticleByTitle" resultType="com.buct.blog.domain.Article">
        select * from article where title like concat('%',#{title},'%')
    </select>
    <select id="getAllArticles" resultType="com.buct.blog.domain.Article">
        select * from article
    </select>
    <select id="getVisitorNum" resultType="Integer">
        select visitornum from article where id = #{id}
    </select>
    <update id="setVisitorNum">
        update article set visitornum=#{visitorNum} where id=#{id}
    </update>
    <update id="setArticleStatus">
        update article set status=#{status} where id=#{id}
    </update>
    <update id="setArticleType">
        update article set type=#{type} where id=#{id}
    </update>

    <!--高谦添加 修改文章功能-->
    <update id="fixArticle" parameterType="com.buct.blog.domain.Article">
        update article set article.content=#{blob},article.title=#{title},article.abstruct=#{abstruct},
          article.type=#{type}
          where article.id=#{id}
    </update>
</mapper>