<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 刘权达 文章相关数据库操作-->
<mapper namespace="com.buct.blog.dao.ArticleDao">
    <resultMap id="ArticlesInOrderMapper" type="com.buct.blog.domain.Article">
        <result column="id" javaType="Integer" jdbcType="INTEGER" property="id"></result>
        <result column="title" javaType="String" jdbcType="VARCHAR" property="title"></result>
        <result column="content" javaType="String" jdbcType="BLOB" property="content"></result>
        <result column="type" javaType="Integer" jdbcType="INTEGER" property="type"></result>
        <result column="publishdate" javaType="String" jdbcType="VARCHAR" property="publishDate"></result>
        <result column="visitornum" javaType="Integer" jdbcType="INTEGER" property="visitorNum"></result>
        <result column="outstanding" javaType="Integer" jdbcType="INTEGER" property="outstanding"></result>
        <result column="imgurl" javaType="String" jdbcType="VARCHAR" property="imgurl"></result>
        <result column="status" javaType="Integer" jdbcType="INTEGER" property="status"></result>
    </resultMap>
    <resultMap id="ArticleAndCategoryMapper" type="com.buct.blog.domain.ArticleAndCategory">
        <result column="article.id" javaType="Integer" jdbcType="INTEGER" property="articleId"></result>
        <result column="title" javaType="String" jdbcType="VARCHAR" property="title"></result>
        <result column="content" javaType="String" jdbcType="VARCHAR" property="content"></result>
        <result column="type" javaType="Integer" jdbcType="INTEGER" property="type"></result>
        <result column="articlepublishdate" javaType="String" jdbcType="VARCHAR" property="articlePublishDate"></result>
        <result column="visitornum" javaType="Integer" jdbcType="INTEGER" property="visitorNum"></result>
        <result column="outstanding" javaType="Integer" jdbcType="INTEGER" property="outstanding"></result>
        <result column="articleimgurl" javaType="String" jdbcType="VARCHAR" property="articleImgurl"></result>
        <result column="status" javaType="Integer" jdbcType="INTEGER" property="status"></result>
        <result column="articleabstruct" javaType="String" jdbcType="VARCHAR" property="articleAbstruct"></result>
        <result column="name" javaType="String" jdbcType="VARCHAR" property="name"></result>
        <result column="description" javaType="String" jdbcType="VARCHAR" property="description"></result>
        <result column="categoryimgurl" javaType="String" jdbcType="VARCHAR" property="categoryImgurl"></result>
        <result column="categorypublishdate" javaType="String" jdbcType="VARCHAR" property="categoryPublishDate"></result>
    </resultMap>
    <select id="getArticlesByDate" resultMap="ArticlesInOrderMapper">
        select * from article where status = 1 order by publishDate desc limit #{k};
    </select>
    <select id="getArticlesByVisitor" resultMap="ArticlesInOrderMapper">
        select * from article where status = 1 order by visitornum desc limit #{k};
    </select>

    <select id="getArticleById" resultType="com.buct.blog.domain.Article">
        select * from article where id=#{aid}
    </select>

    <select id="addArticle">
        insert into article
        values (null,#{title},#{content},#{type},now(),0,0,#{status},#{imgurl},#{abstruct})
    </select>
    <select id="setArticleTitle">
        update article set title=#{title} where id = #{id}
    </select>
    <select id="setArticleContent">
        update article set content=#{content} where id=#{id}
    </select>
    <select id="setArticleAbstruct">
        update article set abstruct=#{abstruct} where id=#{id}
    </select>
    <select id="setArticleImgurl">
        update article set imgurl=#{imgurl} where id=#{id}
    </select>
    <select id="setArticleOutstanding">
        update article set outstanding=#{outstanding} where id=#{id}
    </select>
    <select id="deleteArticle">
        delete from article where id=#{id}
    </select>
    <select id="getArticleByTitle" resultType="com.buct.blog.domain.Article">
        select * from article where title like concat('%',#{title},'%')
    </select>
    <select id="getAllArticles" resultType="com.buct.blog.domain.Article">
        select * from article
    </select>
    <select id="getVisitorNum" resultType="Integer">
        select visitornum from article where id = #{id}
    </select>
    <select id="setVisitorNum">
        update article set visitornum=#{visitorNum} where id=#{id}
    </select>
    <select id="setArticleStatus">
        update article set status=#{status} where id=#{id}
    </select>
    <select id="setArticleType">
        update article set type=#{type} where id=#{id}
    </select>
    <select id="getAllPublishArticles" resultMap="ArticleAndCategoryMapper">
        select article.id as articleid,title,content,type,
        article.publishdate as articlepublishdate,
         visitornum,outstanding,article.imgurl as articleimgurl,status,
          article.abstruct as articleabstruct,name,description,
          category.imgurl as categoryimgurl,
           category.publishdate as categorypublishdate from article,category  where status=1 and article.type=category.id
    </select>
    <select id="getAllUnpublishArticles" resultMap="ArticleAndCategoryMapper">
       select article.id as articleid,title,content,type,
        article.publishdate as articlepublishdate,
         visitornum,outstanding,article.imgurl as articleimgurl,status,
          article.abstruct as articleabstruct,name,description,
          category.imgurl as categoryimgurl,
           category.publishdate as categorypublishdate
           from article,category where status=0 and article.type=category.id
    </select>
    <select id="getAllDeleteArticles" resultMap="ArticleAndCategoryMapper">
        select article.id as articleid,title,content,type,
        article.publishdate as articlepublishdate,
         visitornum,outstanding,article.imgurl as articleimgurl,status,
          article.abstruct as articleabstruct,name,description,
          category.imgurl as categoryimgurl,
           category.publishdate as categorypublishdate
           from article,category where status=2 and article.type=category.id
    </select>
    <select id="softDeleteArticle">
        delete from article where id=#{id}
    </select>
    <select id="setArticlePublishDate">
        update article set publishdate=now() where id=#{id};
    </select>
</mapper>