<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--author 刘权达 文章相关数据库操作-->
<mapper namespace="com.buct.blog.dao.ArticleDao">
    <resultMap id="ArticlesInOrderMapper" type="com.buct.blog.domain.Article">
        <id column="id" javaType="Integer" jdbcType="INTEGER" property="id"></id>
        <result column="title" javaType="String" jdbcType="VARCHAR" property="title"></result>
        <result column="content" javaType="String" jdbcType="VARCHAR" property="content"></result>
        <result column="type" javaType="Integer" jdbcType="INTEGER" property="type"></result>
        <result column="publicdate" javaType="String" jdbcType="VARCHAR" property="publishDate"></result>
        <result column="visitornum" javaType="Integer" jdbcType="INTEGER" property="visitorNum"></result>
        <result column="outstanding" javaType="Integer" jdbcType="INTEGER" property="outstanding"></result>
        <result column="imgurl" javaType="String" jdbcType="VARCHAR" property="imgurl"></result>
        <result column="status" javaType="Integer" jdbcType="INTEGER" property="status"></result>
    </resultMap>
    <select id="getArticlesByDate" resultMap="ArticlesInOrderMapper">
        select * from article order by publishDate desc limit #{k};
    </select>
    <select id="getArticlesByVisitor" resultMap="ArticlesInOrderMapper">
        select * from article order by vistornum desc limit #{k};
    </select>

    <select id="getArticleById" resultType="com.buct.blog.domain.Article">
        select * from article where id=#{aid}
    </select>

</mapper>